*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body{
    background:#f4f4f4;
}



/* Header */

header{

    background:#2c3e50;
    color:white;
    text-align:center;
    padding:25px;

}



/* Navigation */

nav{

    background:#34495e;
    padding:15px;
    text-align:center;

}


nav a{

    color:white;
    text-decoration:none;
    margin:20px;
    font-size:18px;

}


nav a:hover{

    color:#f1c40f;

}



/* Container */

.container{

    width:80%;
    margin:30px auto;

}



/* Form */

form{

    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px gray;

}


input, textarea{

    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;

}


textarea{

    height:120px;

}



/* Button */

button{

    background:#3498db;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:5px;
    cursor:pointer;

}


button:hover{

    background:#2980b9;

}



/* Message */

#message{

    margin-top:15px;
    font-weight:bold;

}



/* Blog Cards */

.card{

    background:white;
    padding:20px;
    margin:20px 0;
    border-radius:10px;
    box-shadow:0 0 10px gray;

}


.card h2{

    color:#2c3e50;

}



/* Footer */

footer{

    background:#2c3e50;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:30px;

}